.header__wrapper{
  width: 100%;
  height: 50px;
  background-color: rgba(27, 30, 30, 0.703);

  .header__nav{
    display: flex;
    gap: 15px;
    padding: 15px 0 0 15px;

    .nav__link{
      text-decoration: none;
      font-size: 1rem;
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      transition: .2s linear;

      &:hover{
        color: #fff;
      }
    }
  }

}